<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C969Rebekah.Properties.Settings.client_schedule" 
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\client_schedule.mdf;Integrated Security=True;Connect Timeout=30" />
        <add name="C969Rebekah.Properties.Settings.ConnectionString"
            connectionString="server=localhost;user id=sqlUser;database=client_schedule;password=Passw0rd!;SslMode=none;AllowPublicKeyRetrieval=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>